*{
  box-sizing: border-box;
}
body{  
  background-color: #969c92;
  background-size: 300% 300%;  
}
.container{
  padding: 10px;
  max-width: fit-content;
  margin: 20px auto;
  border-radius: 5px;  
}
.btn{
  border:none;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 8px;
  background: darkgray;
  color: white;
  cursor: pointer;
}
.btn-add{
  background-color: #848a81;
  color: white;
  font-weight: 550;
}
.btn-add:hover{
  transform: scale(1.1);
}
.addContainer{
  position: absolute;
  background-color: #9fce7e;
  background-size: 200% 200%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content:center ;
  align-items:center ;
}
.addContainer form{
  width: 420px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.626);
  display: flex;
  flex-direction: column;
  padding: 50px 54px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.addContainer form label{
  font-style:inherit;
  font-size: 22px;
  font-weight: 600;
  background: -webkit-linear-gradient(left, #848a81, #848a81);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.addContainer form input{
  font-size: 19px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: 550;
  background-color: rgb(255, 255, 255);
  color: #848a81;
  border: none;
  outline: none;
  font-style:inherit;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.addContainer form input:focus {
  color:#a6e27a;
}
.addContainer form button{
  background: #848a81;
  color:rgba(255, 255, 255);
  font-weight: 700;
  margin-top: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.addContainer form button:hover{
  transform: scale(1.1);
}
.addContainer form .close-btn{
  margin-left: auto;
  font-size: 22px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #848a81;
  cursor: pointer;
  color:rgb(255, 255, 255);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.addContainer form .close-btn:hover{
  transform: scale(1.1);
}
.tableContainer{
  margin-top: 50px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 8px;
  border-width: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}
.tableContainer table thead tr{
  background-color: #848a81;
  color: #ffffff;
}
.tableContainer table {
  border-collapse: collapse; /* Zlučuje bunky */
}
.tableContainer table thead tr th,
.tableContainer table tbody tr td{
min-width: 200px;
padding: 7px;
text-align: center;
}
.tableContainer table tbody tr td{
  border-width: 50%;
  color: #848a81;
  font-weight: 700;
}
.btn-edit,
.btn-delete{
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  margin: 0px 10px;
  background-color: #a2d87c;
}
.btn-edit:hover{
  transform: scale(1.1);
}
.btn-delete:hover{
  transform: scale(1.1);
}

.tableContainer table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5); 
}

.tableContainer table tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.8); 
}
.tableContainer table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden; 
}

.sidebar {
  position: fixed;
  right: 20px;
  top: 20px;
  bottom: 0;
  width: 200px;
  height: 120px;
  background-color: #848a81;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin: 8px;
  border-radius: 8px;
}

.btn-notes,
.btn-makePlan {
  margin-bottom: 10px;
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  background-color: #a6e27a;
  border: none;
  cursor: pointer;
}

.contents {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.626);  
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  height: fit-content;
}
.container {
  display: flex;
}

.btn-notes:hover{
  transform: scale(1.1);
}
.btn-makePlan:hover{
  transform: scale(1.1);
}

.btn-notes:active {
  color: white;
  background-color: #1c2317b4;
}
.btn-makePlan:active {
  color: white;
  background-color: #1c2317b4;
}
.contents{
  text-align: center;
}

h1 {
  font-family: 'Arial', sans-serif; 
  font-size: 32px; 
  font-weight: bold;
  color: #555;
  margin-bottom: 20px; 
}


h3 {
  font-family: 'Arial', sans-serif; 
  font-size: 24px;
  font-weight: normal; 
  color: #666; 
  margin-bottom: 10px; 
}
.logo{
  background-image: url('Logotr.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  position: fixed;
  top: 20px;
  left: 20px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}